{
	"test_name": "template",

	"host": "localhost",
	"port": 27017,
	
	"txt_directory": "",

	"db_name":"db_geo_index",
	"url_collection": "clicks_mediumset_dm1",
	"dbstat_collection":"globals_mediumset_dm1",
	"geo_indexing_nthread":5,

	"junk_function":1,
	"junk_low_threshold":4,
	"junk_high_threshold":8,

	"maximize_links":false,
	"collection_topics":"topics_mediumset_dm1",
	"s":10,
	"bounded_locs": [[35.515482, 6.958351],[46.897953, 18.457763]],
	"topicsClustering_nthread": 250,
	"max_waiting_time_http": 1,
	"log": "True",

	"lda_ntopics":20,
	"lda_npasses":2,
	"lda_nwordsfortopic":20,

	"collection_approximation" : "topics_approximated_mediumset_dm1",
	"merge_algorithm" : 2,
	"n_approximation_levels": 4,
	"n_approximation_partition": 4
}
